<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Farmers List</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.5.2/css/bootstrap.min.css">
    <a href="{{ url_for('show_farmers') }}">View Farmers</a>

</head>
<body>
    <div class="container mt-5">
        <h1>Farmers List</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                {% for farmer in farmers %}
                <tr>
                    <td>{{ farmer['id'] }}</td>
                    <td>{{ farmer['name'] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{{ url_for('add_farmer') }}" class="btn btn-primary">Add Farmer</a>
    </div>
</body>
</html>
